pytest
pylint
flake8
requests==2.22.0
boto3==1.9.220
unicodecsv
flask==1.1.1
-e git+https://github.com/digirati-co-uk/iris4py.git#egg=iris-core-0
# -e git+https://github.com/dlcs/dlcs-client.git#egg=dlcs